<template>
  <div class="Leaderboard">
    <div class=Leaderboard-title>
      <h1 v-if="!viewTeams" class="Leaderboard-titleh1">Top {{kognitesClassification.length}}</h1>
      <h1 v-if="viewTeams" class="Leaderboard-titleh1">Teams</h1>
      <div class="Leaderboard-listItemTeamLabel">
        <i>* 1 step = 0.6m</i>
      </div>
    </div>
    <div class=Leaderboard-list>
      <div class="Leaderboard-listHeader">
        <div class="Leaderboard-listItemAvatar"/>
        <div class="Leaderboard-listHeaderBody">
          <div>Name</div>
          <div>Steps</div>
        </div>
      </div>
      <div v-if="!viewTeams">
        <div
          class="Leaderboard-listItem"
          v-for="(kognite, index) in kognitesClassification"
          :key="index">
          <div class="Leaderboard-listItemAvatar">
            <img :style="{ 'border-color': getColor(kognite) }" src="../public/favicon-32x32.png"/>
          </div>
          <div class="Leaderboard-listItemBody">
            <div>
              <div>{{ kognite.name }}</div>
              <div class="Leaderboard-listItemTeamLabel">
                <i>{{ kognite.team }}</i>
                <div class="Leaderboard-teamIndicator" :style="{ 'background-color': getColor(kognite) }"/>
              </div>
            </div>
            <div>
              <div>{{ kognite.steps }} steps</div>
              <div class="Leaderboard-listItemTeamLabel">
                <i>Avg {{avgKmsStr(kognite.steps, days)}} km/day</i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="viewTeams">
        <div
          class="Leaderboard-listItem"
          v-for="(team, index) in teamsClassification"
          :key="index">
          <div class="Leaderboard-listItemAvatar">
            <img :style="{ 'border-color': team.color }" src="../public/favicon-32x32.png"/>
          </div>
          <div class="Leaderboard-listItemBody">
            <div>
              <div>
                {{ team.name }}
              </div>
              <div class="Leaderboard-listItemTeamLabel">
                <i>Avg {{avgKmsStr(team.steps, days, team.members)}} km/day/member</i>
              </div>
            </div>
            <div>
              <div>{{ team.steps }} steps</div>
              <div class="Leaderboard-listItemTeamLabel">
                <i>Total {{stepsToKmsStr(team.steps)}} km</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { days } from '../kognites';
import { toggleView, stepsToKmsStr, avgKmsStr} from '../map';

const TOGGLE_BETWEEN_VIEWS = 1000 * 30;

function sortBySteps(items) {
  return Object.values(items).sort((a, b) => b.steps - a.steps);
}

export default {
  name: 'Leaderboard',
  props: {
    kognites: Object,
    teams: Object,
    getColor: Function,
  },
  data() {
    return {
      viewTeams: true,
      days,
    };
  },
  computed: {
    kognitesClassification() {
      return sortBySteps(this.kognites).slice(0, 10);
    },
    teamsClassification() {
      return sortBySteps(this.teams).slice(0, 10);
    },
  },
  methods: {
    changeView() {
      this.viewTeams = !this.viewTeams;
      setTimeout(() => { toggleView(this.viewTeams); });
      setTimeout(this.changeView, TOGGLE_BETWEEN_VIEWS);
    },
    stepsToKmsStr,
    avgKmsStr,
  },
  created() {
    setTimeout(this.changeView, 1000);
  },
}
</script>

<style scoped>
.Leaderboard {
  overflow-y: scroll;
}

.Leaderboard-title {
  margin: 10px;
}

.Leaderboard-titleh1 {
  margin: 10px 0;
}

.Leaderboard-listHeader,
.Leaderboard-listItem {
  align-items: center;
  display: flex;
  padding: 10px 20px 10px 15px;
  border-bottom: 1px solid #ccc;
}

.Leaderboard-listItemAvatar {
  padding-right: 5px;
  min-width: 40px;
}

.Leaderboard-listItemAvatar img {
  border-radius: 20px;
  border: 2px solid;
}

.Leaderboard-listHeaderBody,
.Leaderboard-listItemBody {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.Leaderboard-listItemTeamLabel {
  font-size: x-small;
  color: #999;
}

.Leaderboard-teamIndicator {
  border-radius: 5px;
  display: inline-block;
  height: 10px;
  margin-left: 5px;
  vertical-align: middle;
  width: 10px;
}

</style>
