<template>
  <div class="StepsApp">
    <div class="StepsApp-header">
      <div class="StepsApp-headerLogo">
        <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px">
          <circle r="20" cx="20" cy="20" fill="#4E7A8D"/>
          <circle r="10" cx="15" cy="9" fill="white" clip-path="url(#clipUpperCircle)"/>
          <circle r="10" cx="15" cy="31" fill="white" clip-path="url(#clipLowerCircle)"/>
          <clipPath id="clipUpperCircle">
              <rect width="12" height="10" x="15" y="9"/>
          </clipPath>
          <clipPath id="clipLowerCircle">
              <rect width="12" height="10" x="15" y="21"/>
          </clipPath>
        </svg>
      </div>
      <h1>Kognity's <span class="playfair">Step challenge</span></h1>
    </div>
    <div class="StepsApp-body">
      <div class="StepsApp-mapContainer">
        <div id="map"/>
      </div>
      <div class="StepsApp-listContainer">
        <Leaderboard
          :kognites="kognites"
          :teams="teams"
          :get-color="getColor"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Leaderboard from './components/Leaderboard.vue'
import kognites from './kognites'
import { teams } from './kognites'
import { getColor } from './kognites'

export default {
  name: 'app',
  components: {
    Leaderboard,
  },
  props: {
    viewTeams: Boolean,
  },
  data() {
    return {
      kognites,
      getColor,
      teams,
    };
  },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Playfair+Display:700i');

#map {
  height: 100%;
}

.StepsApp {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  background-color: #F6F6F3;
}

.StepsApp-header {
  height: 40px;
  padding: 5px 20px;
  border-bottom: 1px solid #E4E4E2;
}

.StepsApp-headerLogo {
  height: 40px;
  width: 40px;
  display: inline-block;
}

.StepsApp-header h1 {
  display: inline-block;
  margin: 0;
  margin-left: 10px;
  vertical-align: top;
}

.StepsApp-body {
  flex: 1;
  display: flex;
}

.StepsApp-mapContainer {
  flex: 1;
}

.StepsApp-listContainer {
  background-color: #FBFBF9;
  min-width: 400px;
  height: 100%;
  overflow-y: scroll;
}

.playfair {
  font-family: 'Playfair Display', serif;
  font-size: initial;
}

</style>
